<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eliminar Cliente</title>
    </head>
    <body>
        <header id="header">
            <style>
            section div {
                margin: 15px 40%;
            }
            </style>
            <link rel="stylesheet" href="../css/miCss.css"/>
            <script src="../javaScript/header.js"></script>
            <script src="../javaScript/logicaJavaScript.js"></script>
        </header>

        <section>
            <div>
                <h1>Eliminar Cliente</h1>
                <h4>Ingese el id para eliminar un cliente.</h4>
                <input type="text" id="ID">&nbsp ID</input><br>
                <button onclick="deleteClient()">Eliminar</button>
                <br><br>
                <div id="response"></div>

            </div>
        </section>

    </body>
</html>