<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App Studio</title>
        <link rel="stylesheet" href="css/miCss.css">
        <script src="javaScript/logicaJavaScript.js"></script>
        <style>
            header {
                border-top: solid 2px black;
                border-bottom: solid 2px black;
                border-radius: 20px;
                text-align: center;
                background: forestgreen;
            }
        </style>
    </head>
    <body>
        <header><h1>Appp Studio</h1></header>
        <div id="login">
            <p>LOGIN</p>
            <label>Usuario:&nbsp;<input type="text" id="user"/></label><br>
            <label>Password:&nbsp;<input type="text" id="password"/></label><br><br>
            <button onclick="logear()">Actualizar</button>
        </div>
    </body>
</html>