<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App Studio</title>
    </head>
    <body>
    <div>
        <h1>App Studio</h1>
    </div>
    <h3>Clientes</h3>
        <nav >
            <a href=".\pages\CrearCliente.html"><button>Crear Cliente</button></a><br>
            <a href=".\pages\ActualizarCliente.html"><button>Actualizar Cliente</button></a><br>
            <form action="http://localhost:5100/getClients"><button type="submit">Todos los Clientes</button></form>
            <a href=".\pages\EliminarCliente.html"><button>Eliminar Cliente</button></a><br>
        </nav>
    </body>
</html>