<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Cliente</title>
</head>
<body>
<div>
    <h1>Actualizar Cliente</h1>
</div>
<form action="http://localhost:5100/updateClient" method="GET">
  <h4>Ingese todos los datos para actualizar un cliente.</h4>
  <input type="text" name="ID">ID</input><br>
  <input type="text" name="Nombre">NOMBRE</input><br>
  <input type="text" name="Apellido">APELLIDO</input><br>
  <input type="text" name="Edad">EDAD</input><br>
  <button type="submit">Actualizar</button>
</form>
</body>
</html>