<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crear cliente</title>
    </head>
    <body>
        <header id="header">
            <style>
            section div {
                margin: 15px 40%;
            }
            </style>
            <link rel="stylesheet" href="../css/miCss.css"/>
            <script src="../javaScript/header.js"></script>
        </header>

        <section>
            <div>
                <h1>Crear Cliente</h1>
                <form action="http://localhost:5100/createClient" method="GET">
                    <h4>Ingese todos los datos para crear un cliente.</h4><br>
                    <input type="text" name="ID">&nbsp ID</input><br>
                    <input type="text" name="Nombre">&nbsp NOMBRE</input><br>
                    <input type="text" name="Apellido">&nbsp APELLIDO</input><br>
                    <input type="text" name="Edad">&nbsp EDAD</input><br>
                    <button type="submit">Crear</button>
                </form>
            </div>
        </section>

    </body>
</html>